<div>
    <div class="split left font-PTSans">
        <img
            src="https://images.pexels.com/photos/7583935/pexels-photo-7583935.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>
    <div class="split right font-PTSans">
        <div class="w-full h-screen flex items-center justify-center">
            <div class="w-full md:w-1/3 bg-white rounded-lg">
                <div class="mb-10">
                    <div class="text-4xl text-gray-700 flex justify-center">Welcome to Quizly</div>
                    <div class="text-md text-gray-400 flex justify-center mt-2">Please sign in to continue.</div>
                </div>
                <div class="px-4 pb-10">
                    <form #loginForm="ngForm" (ngSubmit)="signIn(loginForm)">
                        <div>
                            <div class="w-full mb-2">
                                <div class="flex items-center">
                                    <i class='ml-3 fill-current text-gray-400 text-xs z-10 fas fa-user'></i>
                                    <input ngModel type='text' name="identifier" placeholder="Email"
                                        class="px-8 w-full border rounded px-3 py-2 text-gray-700 focus:outline-none" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="w-full mb-2">
                                <div class="flex items-center">
                                    <i class='ml-3 fill-current text-gray-400 text-xs z-10 fas fa-lock'></i>
                                    <input ngModel name="password" type='password' placeholder="Password"
                                        class="mt-2 px-8 w-full border rounded px-3 py-2 text-gray-700 focus:outline-none" />
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-between mt-4 ml-4">
                            <a [routerLink]="['/register']" routerLinkActive="active" class="text-gray-500 mb-4">Sign
                                up</a>
                            <a [routerLink]="['/forgot-password']" class="text-gray-500 mb-4">Forgot Password?</a>
                        </div>
                        <button type="submit" [disabled]="!loginForm.form.valid" 
                            class="w-full py-2 rounded-full bg-gray-500 text-white hover:bg-gray-600 focus:outline-none ml-2 disabled:bg-red-600">Sign
                            in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>